<h1 class="board-title">AgileDrift Board</h1>

<input
  class="search"
  type="text"
  placeholder="Search tasks..."
  [(ngModel)]="searchText"
/>

<div class="board">

  <!-- TO DO -->
  <div class="column todo">

    <h3 class="column-header">To Do</h3>

    <!-- ✅ ONLY THIS IS DROPLIST -->
    <div class="task-container"
        cdkDropList
        id="todoList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="['progressList','doneList','deliveredList']"
        [cdkDropListSortingDisabled]="true"
        (cdkDropListDropped)="drop($event, 'todo')">

      <div class="task-card {{ task.priority | lowercase }}"
           *ngFor="let task of todo"
           cdkDrag>
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>

        <div class="task-footer">
          <span class="priority {{ task.priority | lowercase }}">
             {{ task.priority }}
          </span>

          <div class="actions">
            <button (click)="openEditModal(task)">✏️</button>
            <button (click)="deleteTask(task)">🗑</button>
          </div>
        </div>
      </div>

    </div>

    <!-- ✅ OUTSIDE DROP LIST -->
    <button class="add-task" (click)="openAddModal()">
        + Add Task
    </button>

  </div>



  <!-- IN PROGRESS -->
  <!-- PROGRESS -->
  <div class="column progress">
    <h3 class="column-header">In Progress</h3>

    <!-- ✅ SCROLL AREA -->
    <div class="task-container"
        cdkDropList
        id="progressList"
        [cdkDropListData]="progress"
        [cdkDropListConnectedTo]="['todoList','doneList','deliveredList']"
        [cdkDropListSortingDisabled]="true"
        (cdkDropListDropped)="drop($event, 'progress')">

      <div class="task-card {{ task.priority | lowercase }}"
          *ngFor="let task of progress"
          cdkDrag>
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
        <div class="task-footer">
          <span class="priority {{ task.priority | lowercase }}">
             {{ task.priority }}
          </span>

          <div class="actions">
             <button (click)="openEditModal(task)">✏️</button>
             <button (click)="deleteTask(task)">🗑</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DONE -->
  <!-- DONE -->
  <div class="column done">

    <h3 class="column-header">Done</h3>

      <!-- ✅ SCROLL AREA -->
    <div class="task-container" 
        cdkDropList
        id="doneList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="['todoList','progressList','deliveredList']"
        (cdkDropListDropped)="drop($event, 'done')">
        
      <div class="task-card {{ task.priority | lowercase }}"
           *ngFor="let task of done"
           cdkDrag>
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>

        <div class="task-footer">
          <span class="priority {{ task.priority | lowercase }}">
            {{ task.priority }}
          </span>

          <div class="actions">
            <button (click)="openEditModal(task)">✏️</button>
            <button (click)="deleteTask(task)">🗑</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DELIVERED -->
  <!-- DELIVERED -->
  <div class="column delivered">
    <h3 class="column-header">Delivered</h3>

      <!-- ✅ SCROLL AREA -->
    <div class="task-container"
         cdkDropList
        id="deliveredList"
        [cdkDropListData]="delivered"
        [cdkDropListConnectedTo]="['todoList','progressList','doneList']"
        (cdkDropListDropped)="drop($event, 'delivered')">

      <div class="task-card {{ task.priority | lowercase }}"
           *ngFor="let task of delivered"
           cdkDrag>
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>

        <div class="task-footer">
          <span class="priority {{ task.priority | lowercase }}">
            {{ task.priority }}
          </span>

          <div class="actions">
            <button (click)="openEditModal(task)">✏️</button>
            <button (click)="deleteTask(task)">🗑</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- MODAL -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h3>{{ isEditMode ? 'Edit Task' : 'Add Task' }}</h3>

    <input type="text" placeholder="Title" [(ngModel)]="newTask.title" />
    <textarea placeholder="Description" [(ngModel)]="newTask.description"></textarea>

    <select [(ngModel)]="newTask.priority">
      <option>High</option>
      <option>Medium</option>
      <option>Low</option>
    </select>

    <div class="modal-actions">
      <button class="cancel" (click)="closeModal()">Cancel</button>
      <button class="save" (click)="saveTask()">
        {{ isEditMode ? 'Update' : 'Add' }}
      </button>
    </div>
  </div>
</div>
